<!DOCTYPE html>
<html>
  <head>
    <title>UistitiShowcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render Uistiti::Alpha::Navbar.new(color: :primary)  do |navbar| %>
      <%= navbar.with_logo do %>
        <%= render Uistiti::Alpha::Image.new(source: 'logo.png', size: :xxl) %>
      <% end %>
      <%= navbar.with_links([
        {path: '/home', method: :get, color: 'inverse-base', text: 'Home'},
        {path: '/twitter_clone', method: :get, color: 'inverse-base', text: 'Twitter clone'},
        {path: '/contact', method: :get, color: 'inverse-base', text: 'Contact'},
      ])%>
    <% end %>
    <%= render Uistiti::Alpha::Container.new do %>
      <%= yield %>
    <% end %>
  </body>
</html>
